@model BeautyBooking.Web.ViewModels.Owner.SalonManager.SalonInputModel
@{
    this.ViewData["Title"] = "Add Salon";
}

<div class="col-lg-8 contact_col">
    <div class="contact_form">
        <div class="contact_title">New Salon</div>
        <div class="contact_form_container">
            <form method="post" enctype="multipart/form-data" class="contact_form">
                <input type="text" asp-for="@Model.Name" class="contact_input" placeholder="Name" required="required">
                <input type="number" asp-for="@Model.CategoryId" class="contact_input" placeholder="CategoryId" required="required">                
                <input type="text" asp-for="@Model.Address" class="contact_input" placeholder="Address" required="required">
                <div class="form-group">
                    <div class="row justify-content-lg-between">
                        <div>
                            <input type="file" asp-for="@Model.Image" class="image-upload" />
                        </div>
                    </div>
                </div>
                <button class="button button-large button_1 elements_button" type="submit">
                    <a asp-area="" asp-controller="Salons" asp-action="RegisterSalon">
                        <span>register salon</span><span>register salon</span>
                    </a>
                </button>
            </form>
            <div class="button button-large button_2 elements_button">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span>Cancel</span><span>Cancel</span>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}