@model BeautyBooking.Web.ViewModels.Owner.SalonManager.SalonInputModel
@{
    this.ViewData["Title"] = "Register a Salon";
}

    <div class="col-lg-8 contact_col">
        <div class="contact_form">
            <div class="contact_title">New Salon</div>
            <div class="contact_form_container">
                <form method="post" class="contact_form">
                    <input type="text" asp-for="@Model.Name" class="contact_input" placeholder="Name" required="required">
                    <input type="number" asp-for="@Model.CategoryId" class="contact_input" placeholder="CategoryId" required="required">
                    <input type="text" asp-for="@Model.ImageUrl" class="contact_input" placeholder="ImageUrl" required="required">
                    <textarea class="contact_input contact_textarea mb-3" asp-for="@Model.Address" placeholder="Address" required="required"></textarea>
                    <button class="button button-large button_1 elements_button" type="submit">
                        <a asp-area="" asp-controller="Salons" asp-action="RegisterSalon">
                            <span>register salon</span><span>register salon</span>
                        </a>
                    </button>
                </form>
                <div class="button button-large button_2 elements_button">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <span>Cancel</span><span>Cancel</span>
                    </a>
                </div>
            </div>
        </div>
    </div>