@charset "utf-8";
/* CSS Document */

.home-home {
    width: 100% !important;
    height: 874px !important;
}

.home_container-home {
    position: absolute !important;
    top: 38% !important;
    left: 0 !important;
    width: 100% !important;
}

.home_title-home {
    font-size: 60px !important;
    font-weight: 600 !important;
    color: #FFFFFF !important;
    max-width: 570px !important;
    line-height: 1.2 !important;
}
