@model BeautyBooking.Web.ViewModels.Categories.CategoriesSimpleListViewModel
@{
    this.ViewData["Title"] = "Default";
}

<div class="btn-group dropright ml-5">
    <button type="button" style="color: #BA55D3" class="btn btn-outline-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search by Category
    </button>
    <div class="dropdown-menu">
        @foreach (var category in Model.Categories)
        {
            <a class="dropdown-item" 
               asp-area="" asp-controller="Salons" asp-action="Index" asp-route-sortId="@category.Id">
                @category.Name (@category.SalonsCount)
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="Salons" asp-action="Index">All Salons</a>
    </div>
</div>

<hr class="bg-dark m-4" style="height: 6px;" />
