@model BeautyBooking.Web.ViewModels.Salons.SalonsListViewModel
@{
    this.ViewData["Title"] = "Salon Manager Dashboard";
}

<h3>Welcome to Salon Manager Dashboard!</h3>
<p>Here are the salons you manage:</p>

<div>
    @await Component.InvokeAsync("SalonsSimpleList")
</div>
