@model BeautyBooking.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Your Appointments";
}

    <h1>Your Appointments (@Model.Appointments.Count())</h1>

    <div class="button button-large button_1 elements_button">
        <a asp-area="" asp-controller="Appointments" asp-action="MakeAnAppointment"><span>Make An Appointment</span><span>Make An Appointment</span></a>
    </div>