@model BeautyBooking.Web.ViewModels.Services.ServiceInputModel
@{
    this.ViewData["Title"] = "Add Service";
    var categories = this.ViewData["Categories"] as SelectList;
}

<div class="col-lg-6">
    <h2>New Service</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.Name" class="form-control" required="required">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select asp-for="@Model.CategoryId" class="form-control" asp-items="@categories">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea type="text" asp-for="@Model.Description" class="form-control" required="required"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                        asp-area="Administration" asp-controller="Services" asp-action="AddService">
                    Add Service
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" asp-area="Administration" asp-controller="Services" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>
