<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <ul>
            <li class="menu_item"><a asp-area="Manager" asp-controller="Dashboard" asp-action="Index">Salon Manager Dashboard</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">BACK TO HOME PAGE</a></li>
        </ul>
    </div>
</div>
