<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Salon Manager</u></strong></div>
    <div class="list-group list-group-flush">

        <div>
            @await Component.InvokeAsync("SalonsSimpleList")
        </div>

    </div>
</div>
<!-- /#sidebar-wrapper -->
