@model BeautyBooking.Web.ViewModels.Administration.Dashboard.BlogPostInputModel
@{
    this.ViewData["Title"] = "Add Blog Post";
}

<div class="col-lg-8 contact_col">
    <div class="contact_form">
        <div class="contact_title">New Blog Post</div>
        <div class="contact_form_container">
            <form method="post" class="contact_form">
                <input type="text" asp-for="@Model.Title" class="contact_input" placeholder="Title" required="required">
                <input type="text" asp-for="@Model.ImageUrl" class="contact_input" placeholder="ImageUrl" required="required">
                <input type="text" asp-for="@Model.Author" class="contact_input" placeholder="Author" required="required">
                <textarea class="contact_input contact_textarea mb-3" asp-for="@Model.Content" placeholder="Content" required="required"></textarea>
                <button class="button button-large button_1 elements_button" type="submit">
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="AddBlogPost">
                        <span>add blog post</span><span>add blog post</span>
                    </a>
                </button>
            </form>
            <div class="button button-large button_2 elements_button">
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Blog">
                    <span>Cancel</span><span>Cancel</span>
                </a>
            </div>
        </div>
    </div>
</div>