@{
    this.ViewData["Title"] = "Admin dashboard";
}


<div class="button button-large button_1 elements_button">
    <a asp-area="Administration" asp-controller="Categories" asp-action="Index"><span>Manage Categories</span><span>Manage Categories</span></a>
</div>

<div class="button button-large button_3 elements_button">
    <a asp-area="Administration" asp-controller="Blog" asp-action="Index"><span>Manage Blog Posts</span><span>Manage Blog Posts</span></a>
</div>

<div class="button button-large button_2 elements_button">
    <a asp-area="Administration" asp-controller="Salons" asp-action="Index"><span>Manage Salons</span><span>Manage Salons</span></a>
</div>
