@model BeautyBooking.Web.ViewModels.Administration.Categories.CategoryInputModel
@{
    this.ViewData["Title"] = "Add Category";
}

<div class="col-lg-8 contact_col">
    <div class="contact_form">
        <div class="contact_title">New Category</div>
        <div class="contact_form_container">
            <form method="post" enctype="multipart/form-data" class="contact_form">
                <input type="text" asp-for="@Model.Name" class="contact_input" placeholder="Name" required="required">
                <div class="form-group">
                    <div class="row justify-content-lg-between">
                        <div>
                            <input type="file" asp-for="@Model.Image" class="image-upload" />
                        </div>
                    </div>
                </div>
                <textarea class="contact_input contact_textarea mb-3" asp-for="@Model.Description" placeholder="Description" required="required"></textarea>
                <button class="button button-large button_1 elements_button" type="submit">
                    <a asp-area="Administration" asp-controller="Categories" asp-action="AddCategory">
                        <span>add category</span><span>add category</span>
                    </a>
                </button>
            </form>
            <div class="button button-large button_2 elements_button">
                <a asp-area="Administration" asp-controller="Categories" asp-action="Index">
                    <span>Cancel</span><span>Cancel</span>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}