@using BeautyBooking.Common

<footer class="footer">
    <div class="background_image" style="background-image:url(@GlobalConstants.Images.Footer)"></div>
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- Footer About -->
                <div class="col-lg-12 footer_col">
                    <div class="footer_about">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Beauty<span>Booking</span></a>
                        </div>
                        <div class="footer_about_text">The only right way to find and book your beauty services!</div>

                        <div class="copyright">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> BeautyBooking
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <nav class="footer_nav">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <partial name="_MenuItemsPartial" />
                            </ul>
                        </nav>
                        <div class="footer_links">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <li><a class="text-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="footer_phone ml-lg-auto">
                            <a href="https://github.com/marinakolova/BeautyBooking" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                <span> Open Source System</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>
