<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <form action="#" class="menu_search_form">
            <input type="text" class="menu_search_input" placeholder="Search" required="required">
            <button class="menu_search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <ul>
            <li><partial name="_LoginPartial" /></li>
            <li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="" asp-action="">Blog</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="" asp-action="">TO-DO</a></li>
        </ul>
    </div>
</div>