<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Admin</u></strong></div>
    <div class="list-group list-group-flush">

        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Dashboard</a>

        <a asp-area="Administration" asp-controller="BlogPosts" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Blog Posts</a>

        <a asp-area="Administration" asp-controller="Categories" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Categories</a>

        <a asp-area="Administration" asp-controller="Services" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Services</a>

        <a asp-area="Administration" asp-controller="Cities" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Cities</a>

        <a asp-area="Administration" asp-controller="Salons" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Salons</a>

        <a asp-area="Administration" asp-controller="Appointments" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Appointments</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
