<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <ul>
            <li class="menu_item"><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a></li>
            <li class="menu_item"><a asp-area="Administration" asp-controller="BlogPosts" asp-action="Index">Blog Posts</a></li>
            <li class="menu_item"><a asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a></li>
            <li class="menu_item"><a asp-area="Administration" asp-controller="Services" asp-action="Index">Services</a></li>
            <li class="menu_item"><a asp-area="Administration" asp-controller="Cities" asp-action="Index">Cities</a></li>
            <li class="menu_item"><a asp-area="Administration" asp-controller="Salons" asp-action="Index">Salons</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">BACK TO HOME PAGE</a></li>
        </ul>
    </div>
</div>
