@using BeautyBooking.Common
@{
    this.ViewData["Title"] = "Home Page";
    this.ViewData["CoverTitle"] = "BeautyBooking";
}

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">A few words about us</div>
                <div class="section_subtitle">too choose from</div>
            </div>
        </div>
        <div class="row about_row row-eq-height">
            <div class="col-lg-4">
                <div class="logo">
                    <a href="#">health<span>+</span></a>
                </div>
                <div class="about_text_highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem max imus mauris.</div>
                <div class="about_text">
                    <p>Aenean sit amet leo id enim dapibus eleifend. Phas ellus ut erat dapibus, tempor sapien non, porta.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_text_2">
                    <p>Donec lorem maximus malesuada lorem max imus mauris. Proin vitae tortor nec risus tristiq ue efficitur. Aliquam luctus est urna, id aliqu am orci tempus sed. Aenean sit amet leo id enim dapibus eleifend. Phasellus ut erat dapibus, tempor sapien non, porta urna. Cras quis ante nibh. Proin tincidunt gravida interdum. Proin sed urna mauris.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_image"><img src="images/about_1.jpg" alt=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button about_button ml-auto mr-auto"><a href="#"><span>call now</span><span>call now</span></a></div>
            </div>
        </div>
    </div>
</div>
