@using BeautyBooking.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="home_title">Welcome to @GlobalConstants.SystemName!</div>
<div class="home_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</div>
<div class="button home_button"><a href="#"><span>read more</span><span>read more</span></a></div>