@model BeautyBooking.Web.ViewModels.Categories.IndexViewModel

@{
    this.ViewData["Title"] = "Categories";
}

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="card p-2 m-3" style="width: 22rem;">
            <img class="card-img-top img-fluid img-thumbnail" src="@category.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <div class="logo">
                    <a><span>@category.Name</span></a>
                </div>
                <p class="home_text">@category.Description</p>
                <div class="row my-4">
                    <div class="button button_1 elements_button">
                        <a href="#"><span>Find Salons</span><span>Find Salons</span></a>
                    </div>
                    <div class="button button_3 elements_button">
                        <a><span>Read More</span><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>