@model BeautyBooking.Web.ViewModels.Categories.CategoriesListViewModel

@{
    this.ViewData["Title"] = "Categories of Beauty Services";
}

<div class="row">
    <!-- News Posts -->
    @foreach (var category in Model.Categories)
    {
        <div class="col-lg-4">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- News Post -->
            <div class="news_post">
                <div class="news_post_image"><img src="@category.ImageUrl" alt=""></div>
                <div class="news_post_content">
                    <div class="news_post_title text-center"><a>@category.Name</a></div>
                    <div class="news_post_text">
                        <p>@category.Description</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row">
                        <div class="col">
                            <div class="about_text_highlight">
                                Book an appointment in 3 easy steps:
                            </div>
                            <div class="about_text_2">
                                <ul>
                                    <li>1. Find a salon.</li>
                                    <li>2. Choose a beauty service.</li>
                                    <li>3. Pick date and time.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="button button-large button_1 elements_button mt-4">
                                <a asp-area="" asp-controller="Salons" asp-action="Index" asp-route-sortId="@category.Id">
                                    <span>Find Salons</span>
                                    <span>Find Salons</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
